@import "../../theme/app.variables"; 

.fzItemSourceGroup_header {
  color: color($colors, fz-seafoam);
  font-size: 1.5em;
}

.fzItemSource, .fzItemSource .fzItemSource_secondaryText {
  color: color($colors, fz-primary-light);
}

.fzItemSource_itemLink {
  color: color($colors, fz-yellow);
} 