<ion-navbar *navbar>
  <ion-title>{{item?.name}}</ion-title>
</ion-navbar>

<ion-content class="layout-primary">
  <div class="layout-restrainWidth800">
    <div *ngIf="hasStringSources">
      This item can be procured from the following sources:
      <ul>
        <li *ngFor="let stringSource of stringSources" class="sourcesList_stringSource">
          {{stringSource}}
        </li>
      </ul>
    </div>
    <br>
    <div *ngIf="hasBazaarSources">
      This item can be purchased form the Bazaar after selling the following loot items:
      <ul>
        <li *ngFor="let bazaarSource of bazaarSources | async">
          <a (click)="showItemDetails(bazaarSource.source_id)">{{bazaarSource?.source_name}}</a> - {{bazaarSource?.quantity_needed}}
          needed
        </li>
      </ul>
    </div>
  </div>
</ion-content>